.bannerBox {
    img {
        width: 100%;
    }
}

.postContainer {
    h1 {
        margin-bottom: 2.4rem;

        font: 700 4.8rem "Inter", sans-serif;
        line-height: 5.8rem;
    }

    .editedPostTime {
        margin-top: 1.6rem;

        font: 400 1.4rem "Inter", sans-serif;
        font-style: italic;
        color: var(--gray-500);
        line-height: 1.7rem;        
    }
}

.postInfo {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    li {
        display: flex;
        align-items: center;
        list-style: none;

        time, span {
            font: 400 1.4rem "Inter", sans-serif;
            line-height: 1.7rem;
            color: var(--gray-500);
            
            margin-left: 0.8rem;
        }
    }
}


.postContent {
    h1, h2, h3, h4, h5, h6 {
        margin: 6.4rem 0;

        font: 700 2.8rem "Inter", sans-serif;
        line-height: 3.4rem;
        color: var(--white);
    }   
    
    p, a, li {
        font: 400 1.8rem "Inter", sans-serif;
        line-height: 2.2rem;
        color: var(--gray-200);
        text-align: justify;
    }

    a {
        color: var(--pink-500);

        &:hover {
            text-decoration: underline;
        }
    }

    p + p, li + li, ul {
        margin-top: 2.4rem;
    }
}

.footer {
    margin-top: 6rem;
    padding-top: 4.8rem;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    position: relative;

    &:before {
        content: "";
        width: 100%;        

        position: absolute;
        top: 0;
        left: 0;
        
        border-bottom: 1px solid var(--gray-500);

    }
}

.postsLinkContainer {
    .postLinkPrev, .postLinkNext {
        display: inline-block;
        max-width: 40%;

        float: left;

        p {
            font: 400 1.8rem "Inter", sans-serif;
            font-family: Inter;
            line-height: 2.2rem;
            color: var(--white);

            margin-bottom: 0.8rem;
        }

        a {
            font: 600 1.6rem "Inter", sans-serif;
            font-family: Inter;
            line-height: 1.9rem;
            color: var(--pink-500);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .postLinkNext {
        float: right;
        text-align: right;
    }

    &:empty {
        display: none;
    }
}
